[Unit]
Description=JetHub hardware initializer
Before=basic.target
After=systemd-modules-load.service
Requires=systemd-modules-load.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/lib/jethome/jethub-init
TimeoutStartSec=1min

[Install]
WantedBy=basic.target

